---
import { SITE_TITLE, SITE_UTM_SOURCE } from '../../consts';
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()}
  {SITE_TITLE}. All rights reserved.
  <br />
  <div class="text-sm mt-2">
		<p>&copy; {today.getFullYear()} {SITE_TITLE}. All rights reserved.</p>
        <p class="mt-1.5 text-black dark:text-white text-xs">Built from scratch with &#9825; by <a
      href=`https://newvistadigital.com/?utm_source=${SITE_UTM_SOURCE}`
      target="_blank" class="underline hover:text-white transition-colors">New Vista Digital</a
    ></p>
	</div>
</footer>
